<h2 class="text-3xl mb-5 font-bold">Unapproved DPMs</h2>
<div class="lg:overflow-x-auto">
  <div class="grid place-items-center">
    <table class="table table-fixed lg:table-auto w-full text-center">
      <thead>
        <tr>
          <th class="lg:text-base break-words">Name</th>
          <th class="lg:text-base break-words">Block/Time</th>
          <th class="lg:text-base break-words">Type</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let dpm of dpms"
          (click)="showApprovalModal(dpm)"
          class="hover:cursor-pointer hover"
        >
          <td class="break-words whitespace-normal">{{ dpm.driver }}</td>
          <td class="break-words whitespace-normal">
            {{ format.block(dpm.block) }} {{ dpm.time }}
          </td>
          <td class="break-words whitespace-normal">{{ dpm.type }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<input
  type="checkbox"
  id="dpmModal"
  class="modal-toggle"
  [(ngModel)]="modalOpen"
/>
<label for="dpmModal" class="modal cursor-pointer">
  <label class="modal-box relative">
    <div *ngIf="currentDpm">
      <h3 class="text-xl font-bold mx-2 md:mx-4">{{ currentDpm.driver }}</h3>

      <table
        class="my-2 md:my-4 border-separate border-spacing-x-2 md:border-spacing-x-4 border-spacing-y-1.5 table-auto"
      >
        <tbody class="text-left align-text-top">
          <tr *ngIf="currentDpm.createdBy" class="whitespace-nowrap">
            <th>Created By:</th>
            <td>{{ currentDpm.createdBy }}</td>
          </tr>

          <tr>
            <th>Type:</th>
            <td>{{ currentDpm.type }}</td>
          </tr>

          <tr>
            <th>Points:</th>
            <td>{{ format.points(currentDpm.points) }}</td>
          </tr>

          <tr>
            <th>Block:</th>
            <td>{{ format.block(currentDpm.block) }}</td>
          </tr>

          <tr>
            <th>Location:</th>
            <td>{{ currentDpm.location.toUpperCase() }}</td>
          </tr>

          <tr>
            <th>Date:</th>
            <td>{{ currentDpm.date }}</td>
          </tr>

          <tr>
            <th>Time:</th>
            <td>
              {{ currentDpm.time }}
            </td>
          </tr>

          <th>Created At:</th>
          <td>{{ currentDpm.createdAt }}</td>

          <tr *ngIf="currentDpm.notes" class="break-words whitespace-normal">
            <th>Notes:</th>
            <td>{{ currentDpm.notes }}</td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="!editOpen; else editInput" class="modal-action">
        <label
          pRipple
          for="dpmModal"
          class="btn btn-success btn-outline"
          (click)="approveDpm()"
          >Approve</label
        >
        <label
          pRipple
          for="dpmModal"
          class="btn btn-error btn-outline"
          (click)="denyDpm()"
          >Deny</label
        >
        <label
          pRipple
          for="dpmModal"
          class="btn btn-info btn-outline"
          (click)="showEdit($event)"
          >Edit</label
        >
      </div>

      <ng-template #editInput>
        <div class="modal-action">
          <input
            class="input input-bordered input-info"
            type="number"
            placeholder="Points"
            [(ngModel)]="currentPoints"
            (focusout)="hideEdit()"
          />
        </div>
      </ng-template>
    </div>
  </label>
</label>
