@tailwind base;
@tailwind components;
@tailwind utilities;
@import "styles/calendar";
@import "styles/toast";
@import "styles/autocomplete";
@import "fonts";

html,
body {
  height: 100%;
  font-family: Poppins, system-ui;
}

.table th:first-child {
  position: relative !important;
}

.p-autocomplete-panel {
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 20%);
}
