<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <!-- Uncomment when wanting to view styling locally -->

  <!-- <link rel="stylesheet" type="text/css" href="../assets/css/main.css" />
  <link rel="stylesheet" type="text/css" href="../assets/css/shared.css" /> -->

  <!-- Uncomment when wanting to serve files -->
  <link rel="stylesheet" type="text/css" href="/assets/css/approvals.css" />
  <link rel="stylesheet" type="text/css" href="/assets/css/shared.css" />
   <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>DPM</title>
</head>
<body>
  <div class="backdrop"></div>
  <div class="modal">
  </div>
  <div class="topnav" id="myTopnav">
      <a href="/">Home</a>
      <a href="/dpm">DPM</a>
      <a href="/dpm/auto">Autogen</a> 
      <a href="/approve" class="active--nav">Approvals</a>
      <a href="/">Users</a>
      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
      </a>
  </div>
  <section class="main-section">
    <div class="main-div">
      {{range .}}
        <div class="dpm">
            <p>{{.Name}}</p>
            <p>{{.Points}}</p>
        </div>
      {{end}}
    </div>
  </section>
  <!-- Uncomment if wanting to view JS locally -->
  <!-- <script src="../assets/js/shared.js"></script> -->

  <!-- Uncomment if wanting to serve js -->
  <script src="/assets/js/shared.js"></script>
  <script src="/assets/js/approval.js"></script>
</body>
</html>
