<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="shortcut icon" href="/views/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
  <title>DPM</title>
</head>
<body>
    <nav class="blue darken-4">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Home</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            {{if or .Nav.Sup .Nav.Admin .Nav.Analyst}} 
            <li><a href="/dpm">DPM</a></li>
            <li><a href="/dpm/auto">Autogen</a></li>
            {{end}}
            {{if or .Nav.Analyst .Nav.Admin}}
            <li class="active"><a href="/data">Data</a></li>
            <li><a href="/approve">Approvals</a></li>
            {{end}}
            {{if .Nav.Admin}}
            <li><a href="/users/find">Users</a></li>
            {{end}}
          </ul>
        </div>
    </nav>
    
    <ul class="sidenav" id="mobile-demo">
    {{if or .Nav.Sup .Nav.Admin .Nav.Analyst}} 
    <li><a href="/dpm">DPM</a></li>
    <li><a href="/dpm/auto">Autogen</a></li>
    {{end}}
    {{if or .Nav.Analyst .Nav.Admin}}
    <li><a href="/data">Data</a></li>
    <li><a href="/approve">Approvals</a></li>
    {{end}}
    {{if .Nav.Admin}}
    <li><a href="/users/find">Users</a></li>
    {{end}}
    </ul>

    <div class="container center-align">
        <div class="row">
            <div class="card" style="margin: auto">
                <div class="card-content black-text">
                    <span class="card-title">Data Download</span>
                    <p>Click the links below to download a CSV containing all the respective information in the database.</p>
                </div>
                <div class="card-action">
                    <form action="/data/users" method="GET" id="users-form">
                        <a href="#" style="color: #ff8a50;" onclick="document.getElementById('users-form').submit();">
                            Users
                        </a>
                    </form>
                    <form action="/data/dpms" method="GET" id="dpm-form">
                        <a href="#" style="color: #ff8a50;" onclick="document.getElementById('dpm-form').submit();">DPMs</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <script>
    // Navbar initialized
        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });
    </script>
</body>
</html>
