<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="shortcut icon" href="/views/favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="assets/css/index.css">
  <link rel="stylesheet" href="assets/css/dpm.css">
  <title>DPM</title>
</head>
<body>
    <nav class="blue darken-4">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">Home</a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            {{if or .Nav.Sup .Nav.Admin .Nav.Analyst}} 
            <li class="active"><a href="/dpm">DPM</a></li>
            <li><a href="/dpm/auto">Autogen</a></li>
            {{end}}
            {{if or .Nav.Analyst .Nav.Admin}}
            <li><a href="/data">Data</a></li>
            <li><a href="/approve">Approvals</a></li>
            {{end}}
            {{if .Nav.Admin}}
            <li><a href="/users/find">Users</a></li>
            {{end}}
          </ul>
        </div>
    </nav>
    
    <ul class="sidenav" id="mobile-demo">
    {{if or .Nav.Sup .Nav.Admin .Nav.Analyst}} 
    <li><a href="/dpm">DPM</a></li>
    <li><a href="/dpm/auto">Autogen</a></li>
    {{end}}
    {{if or .Nav.Analyst .Nav.Admin}}
    <li><a href="/data">Data</a></li>
    <li><a href="/approve">Approvals</a></li>
    {{end}}
    {{if .Nav.Admin}}
    <li><a href="/users/find">Users</a></li>
    {{end}}
    </ul>


    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="input-field col s12 xl4 input">
                        <input type="text" id="autocomplete-input" class="autocomplete input">
                        <label class="autocomplete-label" for="autocomplete-input">Name</label>
                    </div>
                    <div class="input-field col s12 m4 xl4 input">
                        <input id="block" type="text" maxlength="4" class="input">
                        <label for="block">Block</label>
                    </div>
                    <div class="input-field col s12 m4 xl4">
                        <input id="location" type="text" maxlength="3" class="input">
                        <label for="location">Location</label>
                    </div>
                    <div class="input-field col s12 m4 xl4">
                        <input id="date" type="text" class="datepicker input">
                        <label for="date">Date</label>
                    </div>
                    <div class="input-field col s12 m6 xl4">
                        <input id="starttime" type="text" class="timepicker input">
                        <label for="starttime">Start Time</label>
                    </div>
                    <div class="input-field col s12 m6 xl4">
                        <input id="endtime" type="text" class="timepicker input">
                        <label for="endtime">End Time</label>
                    </div>
                    <div class="input-field col s12 xl12">
                        <select id="type">
                            <optgroup label="Type G">
                                <option value="Type G: Good! (+1 Point)">Good! (+1 Point)</option>
                                <option value="Type G: Voluntary Clinic/Road Test Passed (+2 Points)">Voluntary Clinic/Road Test Passed (+2 Points)</option>
                                <option value="Type G: 200 Hours Safe (+2 Points)">200 Hours Safe (+2 Points)</option>
                            </optgroup>
                            <optgroup label="Type L">
                                <option value="Type L: 1-5 Minutes Late to OFF (-1 Point)">1-5 Minutes Late to OFF (-1 Point)</option>
                            </optgroup>
                            <optgroup label="Type A">
                                <option value="Type A: Missed Email Announcement (-2 Points)">Missed Email Announcement (-2 Points)</option>
                                <option value="Type A: Improper Shutdown (-2 Points)">Improper Shutdown (-2 Points)</option>
                                <option value="Type A: Off-Route (-2 Points)">Off-Route (-2 Points)</option>
                                <option value="Type A: 6-15 Minutes Late to Blk (-3 Points)">6-15 Minutes Late to Blk (-3 Points)</option>
                                <option value="Type A: 1-5 Minutes Late to BLK (-5 Points)">1-5 Minutes Late to BLK (-5 Points)</option>
                                <option value="Type A: Out of Uniform (-5 Points)">Out of Uniform (-5 Points)</option>
                                <option value="Type A: Improper Radio Procedure (-5 Points)">Improper Radio Procedure (-5 Points)</option>
                                <option value="Type A: Improper Bus Log (-5 Points)">Improper Bus Log (-5 Points)</option>
                                <option value="Type A: Timesheet/Improper Book Change (-5 Points)">Timesheet/Improper Book Change (-5 Points)</option>
                                <option value="Type A: Custom (-5 Points)">Custom (-5 Points)</option>
                            </optgroup>
                            <optgroup label="Type B">
                                <option value="Type B: Passenger Inconvenience (-5 Points)">Passenger Inconvenience (-5 Points)</option>
                                <option value="Type B: 16+ Minutes Late (-10 Points)">16+ Minutes Late (-5 Points)</option>
                                <option value="Type B: Attendance Infraction (-10 Points)">Attendance Infraction (-10 Points)</option>
                                <option value="Type B: Moving Downed Bus (-10 Points)">Moving Downed Bus (-10 Points)</option>
                                <option value="Type B: Improper 10-50 Procedure (-10 Points)">Improper 10-50 Procedure (-10 Points)</option>
                                <option value="Type B: Failed Ride-Along/Road Test (-10 Points)">Failed Ride-Along/Road Test (-10 Points)</option>
                                <option value="Type B: Custom (-10 Points)">Custom (-10 Points)</option>
                            </optgroup>
                            <optgroup label="Type C">
                                <option value="Type C: Failure to Report 10-50 (-15 Points)">Failure to Report 10-50 (-15 Points)</option>
                                <option value="Type C: Insubordination (-15 Points)">Insubordination (-15 Points)</option>
                                <option value="Type C: Safety Offense (-15 Points)">Safety Offense (-15 Points)</option>
                                <option value="Type C: Preventable Accident 1,2 (-15 Points)">Preventable Accident 1,2 (-15 Points)</option>
                                <option value="Type C: Custom (-15 Points)">Custom (-15 Points)</option>
                            </optgroup>
                            <optgroup label="Type D">
                                <option value="Type D: DNS/Did Not Show (-10 Points)">DNS/Did Not Show (-10 Points)</option>
                                <option value="Type D: Preventable Accident 3,4 (-20 Points)">Preventable Accident 3,4 (-20 Points)</option>
                            </optgroup>
                        </select>
                        <label>DPM Type</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="notes" class="materialize-textarea input"></textarea>
                        <label for="notes">Notes</label>
                    </div>   
                </div>
            </div>
        </div>
                 
    </div>
    {{.csrf}}
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-orange submit tooltipped" data-position="left" data-tooltip="Send DPM" >
            <i class="large material-icons">send</i>
        </a>
    </div>
    
    <script src="/assets/js/dpm.js"></script>
</body>
</html>