/* label color */
.input-field label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: #5472d3 !important;
}
/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=number]:focus + label {
  color: #5472d3 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus, textarea.materialize-textarea:focus, .input-field input[type=number]:focus {
  border-bottom: 1px solid #002171 !important;
  -webkit-box-shadow: 0 1px 0 0 #002171 !important;
  box-shadow: 0 1px 0 0 #002171 !important;
}

.input-field input[type=text], textarea.materialize-textarea, .input-field input[type=number] {
  border-bottom: 1px solid #002171 !important;
}