.list_item {
    list-style: none;
    border-bottom: 2px solid #3AAFA9;
    margin: 2rem 0;
    display: block;
}

.main_list {
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 1.2rem;
    display: inline-block;
}

.main-section {
    padding: 2rem;
    min-height: 30vh;
}

li {
    line-height: 2rem;
}

button {
    margin-top: .5rem;
    margin-bottom: .5rem;
    background-color: #3AAFA9;
    color: #FEFFFF;
    padding: 2%;
    border: none;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
    width: 100%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
      -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    display: block;
}

@media (min-width: 37.5rem) {
    .main_list {
        width: 28rem;
        margin: auto;
        font-size: 1.4rem;
    }
    button {
        width: 28rem;
        margin: auto;
    }
}

@media (min-width: 56.25rem) {
    .main_list {
        width: 33rem;
        text-align: center;
    }
    .main-section {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

@media (min-width: 75rem) {
    .main_list {
        width: 44rem;
        font-size: 1.5rem;
    }
    .main-section {
        margin-left: 14rem;
        margin-right: 14rem;
    }
    button {
        width: 38rem;
    }
}

@media (min-width: 85.5rem) {
    .main_list {
        width: 48rem;
    }
    .main-section {
        margin-left: 17em;
        margin-right: 17rem;
    }
    button {
        width: 42rem;
    }
}

@media (min-width: 112.5rem) {
    .main_list {
        width: 45rem;
        font-size: 1.5rem;
    }
    .main-section {
        margin-left: 15rem;
        margin-right: 15rem;
    }
    button {
        width: 38rem;
    }
}

@media (min-width: 122.5rem) {
    .main_list {
        width: 65rem;
        font-size: 1.5rem;
    }
    .main-section {
        margin-left: 15rem;
        margin-right: 15rem;
    }
    button {
        width: 45rem;
    }
}

