<div class="card w-96 bg-base-100 shadow-xl">
  <div class="card-body">
    <h2 class="card-title">Tunji</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. In egestas erat
      imperdiet sed euismod nisi porta. Integer eget aliquet nibh praesent
      tristique. Sit amet consectetur adipiscing elit duis tristique. Habitant
      morbi tristique senectus et netus et malesuada. Morbi tristique senectus
      et netus et. Dui accumsan sit amet nulla facilisi. Eget egestas purus
      viverra accumsan in nisl. Augue ut lectus arcu bibendum at. Viverra nibh
      cras pulvinar mattis nunc. Tortor dignissim convallis aenean et tortor at.
      Blandit libero volutpat sed cras ornare arcu dui. Fermentum dui faucibus
      in ornare quam viverra orci sagittis eu. Ut pharetra sit amet aliquam id.
    </p>
  </div>
</div>
